@{
    ViewBag.Title = "小水滴代理系统";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@using PagedList;
@using XDropsWater.Model;
@using PagedList.Mvc;
@using System.Collections.Generic;
@model IPagedList<SubMemberModel>

<style type="text/css">
    .clear:after {
        display: block;
        clear: both;
        content: ".";
        visibility: hidden;
        height: 0;
    }

    .clear {
        zoom: "1";
    }
</style>

@Scripts.Render("~/Content/AdminLTE-2.3.6/plugins/datatables/jquery.dataTables.min.js")
@Scripts.Render("~/Content/AdminLTE-2.3.6/plugins/datatables/dataTables.bootstrap.min.js")
@Scripts.Render("~/Content/bootstrapvalidator/dist/js/bootstrapValidator.min.js")

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            代理级别≥我
            <small>Version 1.0</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>主页</a></li>
            <li class="active">代理级别≥我</li>
        </ol>
    </section>

    <section class="content">
        <!-- /.row -->
        <div class="row">

            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input id="txtSearch" type="text" class="form-control" placeholder="电话号码或姓名">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="btnSearch">查询</button>
                                </span>

                            </div>

                            <!-- /input-group -->
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 table-responsive" id="GetAllSubMembersList">
                                    @Html.Partial("GetHighSubMembersList", Model)

                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>
            </div>
        </div>

    </section>


</div>

<script type="text/javascript">
    // Adding popstate event listener to handle browser back button
    window.addEventListener("popstate", function (e) {
        $.ajax({
            url: location.href,
            success: function (result) {
                $('#GetHighSubMembersList').html(result);
            }
        });
    });


    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    function search() {
        showMsg('正在查询，请稍后...');
        $.post("/Member/GetHighSubMembers", { mobileOrName: $('#txtSearch').val() }, function (result) {
            closeMsg();
            $('#GetAllSubMembersList').html(result);
        });
    }

    addLoadEvent(function () {


        $("#btnSearch").click(function () {
            search();
        });

        $("#SearchString").keypress(function (e) {
            if (e.keyCode == 13) {
                search();
            }
        });

        var getPage = function ()
        {
            var random = '&random=' + new Date().getTime();
            var searchString = $('#txtSearch').val();
            if (searchString == undefined || searchString == '') {
                searchString = '';
            } else {
                searchString = '&mobileOrName=' + searchString;
            }
            searchString += random;
            var url = $(this).attr('href') + searchString;
            showMsg('正在翻页，请稍后...');
            $.ajax({
                url: url,
                success: function (result) {
                    closeMsg();
                    $('#GetHighSubMembersList').html(result);
                }
            });
        }
        $('body').on('click', '#GetHighSubMembersList .pagination a', getPage);



    });

</script>
