@{
    ViewBag.Title = "小水滴代理系统";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@using PagedList;
@using XDropsWater.Model;
@using PagedList.Mvc;
@using System.Collections.Generic;
@model IPagedList<Member503020>
<style type="text/css">
    .clear:after {
        display: block;
        clear: both;
        content: ".";
        visibility: hidden;
        height: 0;
    }

    .clear {
        zoom: "1";
    }
</style>
<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
@Scripts.Render("~/Content/AdminLTE-2.3.6/plugins/datatables/jquery.dataTables.min.js")
@Scripts.Render("~/Content/AdminLTE-2.3.6/plugins/datatables/dataTables.bootstrap.min.js")
@Scripts.Render("~/Content/bootstrapvalidator/dist/js/bootstrapValidator.min.js")
@Scripts.Render("~/Scripts/bootstrap-datepicker.min.js")
@Scripts.Render("~/Scripts/bootstrap-datepicker.zh-CN.min.js")
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            总代50-30-20分红
            <small>Version 1.0</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>主页</a></li>
            <li class="active">总代50-30-20分红</li>
        </ol>
    </section>
    <section class="content">
        <!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="form-group">
                            @Html.TextBox("dateFrom", "", new { @class = "form-control datepicker", placeholder = "开始日期" })
                        </div>
                        <div class="form-group">
                            @Html.TextBox("dateTo", "", new { @class = "form-control datepicker", placeholder = "结束日期" })
                        </div>

                        <div class="form-group">
                            @Html.TextBox("mobileOrName", "", new { @class = "form-control", placeholder = "电话号码或姓名" })
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="button" id="btnSearch">查询</button>
                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 table-responsive" id="Member503020List">
                                    @Html.Partial("Member503020List", Model)
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 id="detailsTitle" class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 table-responsive" id="Details503020List">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="memberId" />
        <input type="hidden" id="memberName" />
        <input type="hidden" id="detailsType" />
        <input type="hidden" id="dateFrom" />
        <input type="hidden" id="dateTo" />
    </section>

</div>
<script type="text/javascript">
    $('#detailsModal').on('shown.bs.modal', function (e) {
        var target = e.relatedTarget;
        var memberId = $(target).attr('memberId');

        var detailsType = $(target).attr('detailsType');
        var dateFrom = $('#dateFrom').val();
        $('#dateFrom').val(dateFrom);
        if (dateFrom == '') {
            dateFrom = null;
        }

        var dateTo = $('#dateTo').val();
        $('#dateTo').val(dateTo);
        if (dateTo == '') {
            dateTo = null;
        }

        $('#memberId').val(memberId);
        $('#detailsType').val(detailsType);
        $('#memberName').val($(target).attr('memberName'));
        var memberName = $(target).attr('memberName');

        var param = {
            detailsType: detailsType,
            memberId: memberId,
            dateFrom: dateFrom,
            dateTo: dateTo
        };
        var url = "@Url.Action("Details503020", "Member")";
        showMsg('正在查询分红明细，请稍后...');
        $.post(url, param, function (result) {
            closeMsg();
            $('#Details503020List').html(result);
            var detailsTitle = memberName;
            if (detailsType == '50')
            {
                detailsTitle += '50块分红：' + $('#hdSum').val() + '套 X 50元 = ' + $('#hdSum').val() * 50 + ' 元';
            }
            else if (detailsType == '30') {
                detailsTitle += '30块分红：' + $('#hdSum').val() + '套 X 30元 = ' + $('#hdSum').val() * 30 + ' 元';
            }
            if (detailsType == '20') {
                detailsTitle += '20块分红：' + $('#hdSum').val() + '套 X 20元 = ' + $('#hdSum').val() * 20 + ' 元';
            }
            $('#detailsTitle').html(detailsTitle);
        });
        
    });
    // Adding popstate event listener to handle browser back button
    window.addEventListener("popstate", function (e) {
        $.ajax({
            url: location.href,
            success: function (result) {
                $('#Member503020List').html(result);
            }
        });
    });

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    function search() {


        var dateFrom = $('#dateFrom').val();
        if (dateFrom == '') {
            dateFrom = null;
        }

        var dateTo = $('#dateTo').val();
        if (dateTo == '') {
            dateTo = null;
        }

        var param = {
            mobileOrName: $('#mobileOrName').val(),
            dateFrom: dateFrom,
            dateTo: dateTo
        };
        var url = "@Url.Action("Member503020", "Member")";
        showMsg('正在查询，请稍后...');
        $.post(url, param, function (result) {
            closeMsg();
            $('#Member503020List').html(result);
        });
    }

    addLoadEvent(function () {


        $("#btnSearch").click(function () {
            search();
        });

        $("#SearchString").keypress(function (e) {
            if (e.keyCode == 13) {
                search();
            }
        });

        var getPage = function () {
            var random = '&random=' + new Date().getTime();
            var search = '';
            var search1 = $('#mobileOrName').val();

            if (search1 != '')
                search = '&mobileOrName=' + search1;

            var dateFrom = $('#dateFrom').val();
            if (dateFrom != '') {
                search = search + '&dateFrom=' + dateFrom;
            }

            var dateTo = $('#dateTo').val();
            if (dateTo != '') {
                search = search + '&dateTo=' + dateTo;
            }

            search += random;
            var url = $(this).attr('href') + search;
            showMsg('正在翻页，请稍后...');
            $.ajax({
                url: url,
                success: function (result) {
                    closeMsg();
                    $('#Member503020List').html(result);
                }
            });

            return false;
        };

        $('body').on('click', '#Member503020List .pagination a', getPage);

        var getDetailsPage = function () {
           
            var memberId = $('#memberId').val();
            var detailsType = $('#detailsType').val();
            var dateFrom = $('#dateFrom').val();
            if (dateFrom == '') {
                dateFrom = null;
            }

            var dateTo = $('#dateTo').val();
            if (dateTo == '') {
                dateTo = null;
            }

            var page = $(this).attr('href').split('?')[1].split('=')[1];

            var param = {
                detailsType: detailsType,
                memberId: memberId,
                dateFrom: dateFrom,
                dateTo: dateTo,
                page:page
            };
            var url = "@Url.Action("Details503020", "Member")";
            showMsg('正在翻页，请稍后...');
            $.post(url, param, function (result) {
                closeMsg();
                $('#Details503020List').html(result);
            });

            return false;
        };

        $('body').on('click', '#Details503020List .pagination a', getDetailsPage);

        $(".datepicker").datepicker({
            language: "zh-CN",
            autoclose: true,//选中之后自动隐藏日期选择框
            clearBtn: true,//清除按钮
            todayBtn: true,//今日按钮
            format: "yyyy-mm-dd"
        });

    });

</script>
