@using PagedList;
@using XDropsWater.Model;
@using PagedList.Mvc;
@using System.Web.Mvc;
@using System.Web.Handlers;
@using XDropsWater.Web.Utility;
@model IPagedList<MemberOrderModel>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>订货数量</th>
            <th>发货代理手机号码</th>
            <th>发货代理姓名</th>
            <th>是否发货</th>
            <th>订单时间</th>
            <th>总价</th>
            <th>备注</th>
            <th>快递</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Quantity</td>
                <td>@item.SendMemberMobile</td>
                <td>@item.SendMemberName</td>
                <td>@(item.IsSubmit ? "是" : "否")</td>
                <td>@item.CreateOn</td>
                <td>@item.Total</td>
                <td>
                    @(
 Html.Raw(item.Description == null ? "" : item.Description.DivideByLength(25))
                    )
                </td>
                <td>@item.Express</td>
                <td>
                    @if (!item.IsSubmit)
                    {<button class="btn btn-primary" data-item="@Json.Encode(item)" data-toggle="modal" data-target="#memManageModal">修改</button>
                    <button class="btn btn-primary" onclick="orderRemove('@item.ID')">删除</button> }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="page" style="margin-left: 10px">
    第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页
    共 @Model.PageCount 页

    @Html.PagedListPager(Model, page => Url.Action("PersonalOrder", new { page }), new PagedListRenderOptions { LinkToFirstPageFormat = "第一页", LinkToPreviousPageFormat = "上一页", LinkToNextPageFormat = "下一页", LinkToLastPageFormat = "最后一页", MaximumPageNumbersToDisplay = 7 })
</div>

<script>

    function orderRemove(orderId) {
        var box = bootbox.confirm({
            size: 'small',
            onEscape: function () { },
            closeButton: true,
            message: '删除后数据不能恢复，你真的要删除该条订单吗？',
            callback: function (result) {
                if (result) {
                    $.post("@Url.Action("RemoveMemberOrder", "Member")",
                        { orderId: orderId },
                        function (data) {
                            setTimeout(function () {
                                bootbox.hideAll();
                                bootbox.alert({
                                    message: "删除成功！", size: 'small', callback: function () {
                                        setTimeout(function () { location.href = location.href; }, 1000);
                                    }
                                });
                            }, 1000);
                        }).fail(function (xhr, statusText, errorThrown) {
                            bootbox.alert({ message: xhr.responseJSON.message, size: 'small' });
                        });
                }
                else {
                    return;
                }
            }

        });
    }
</script>
