@using PagedList;
@using XDropsWater.Model;
@using PagedList.Mvc;
@model IPagedList<MemberModel>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index")
        </th>
        <th>
        @Html.ActionLink("Price", "Index")
        <th>
            @Html.ActionLink("Qty", "Index")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Mobile</td>
            <td>@item.MemberName</td>
            <td>@item.CardLevelID</td>
            <td>@item.ParentMemberMobile</td>
            <td>@item.ParentName</td>
            <td>@item.CreateOn</td>
            <td>@item.Address</td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Test", new { page }))