@{
    ViewBag.Title = "小水滴代理系统";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@using PagedList;
@using XDropsWater.Model;
@using PagedList.Mvc;
@using System.Collections.Generic;
@model IPagedList<DirectorBonusModel>
    <style type="text/css">
        .clear:after {
            display: block;
            clear: both;
            content: ".";
            visibility: hidden;
            height: 0;
        }

        .clear {
            zoom: "1";
        }
    </style>
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    @Scripts.Render("~/Content/AdminLTE-2.3.6/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/AdminLTE-2.3.6/plugins/datatables/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Content/bootstrapvalidator/dist/js/bootstrapValidator.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.zh-CN.min.js")
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                董事加权分红
                <small>Version 1.0</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>主页</a></li>
                <li class="active">董事加权分红</li>
            </ol>
        </section>
        <section class="content">
            <!-- /.row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="form-group">
                                @Html.DropDownList("yearMonth", new SelectList(new List<SelectListItem>() {
                               new SelectListItem(){Text="2017年1月份",Value="201701"},
                               new SelectListItem(){Text="2017年2月份",Value="201702"},
                               new SelectListItem(){Text="2017年3月份",Value="201703"},
                               new SelectListItem(){Text="2017年4月份",Value="201704"},
                               new SelectListItem(){Text="2017年5月份",Value="201705"},
                               new SelectListItem(){Text="2017年6月份",Value="201706"},
                               new SelectListItem(){Text="2017年7月份",Value="201707"},
                               new SelectListItem(){Text="2017年8月份",Value="201708"},
                               new SelectListItem(){Text="2017年9月份",Value="201709"},
                               new SelectListItem(){Text="2017年10月份",Value="201710"},
                               new SelectListItem(){Text="2017年11月份",Value="201711"},
                               new SelectListItem(){Text="2017年12月份",Value="201712"},
                               new SelectListItem(){Text="2018年1月份",Value="201801"},
                               new SelectListItem(){Text="2018年2月份",Value="201802"},
                               new SelectListItem(){Text="2018年3月份",Value="201803"},
                               new SelectListItem(){Text="2018年4月份",Value="201804"},
                               new SelectListItem(){Text="2018年5月份",Value="201805"},
                               new SelectListItem(){Text="2018年6月份",Value="201806"},
                               new SelectListItem(){Text="2018年7月份",Value="201807"},
                               new SelectListItem(){Text="2018年8月份",Value="201808"},
                               new SelectListItem(){Text="2018年9月份",Value="201809"},
                               new SelectListItem(){Text="2018年10月份",Value="201810"},
                               new SelectListItem(){Text="2018年11月份",Value="201811"},
                               new SelectListItem(){Text="2018年12月份",Value="201812"}
                           }, "Value", "Text"),
                            htmlAttributes: new Dictionary<string, object>
                                        {
                                            { "class", "form-control" },
                                            { "placeholder","选择月份" },
                                        })
                            </div>

                            <div class="form-group">
                                @Html.TextBox("mobileOrName", "", new { @class = "form-control", placeholder = "电话号码或姓名" })
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default" type="button" id="btnSearch">查询</button>
                            </div>

                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 table-responsive" id="DirectorBonusList">
                                        @Html.Partial("DirectorBonusList", Model)
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="directorBonusModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 id="detailsTitle" class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12 table-responsive" id="directorBonusDetailsList">
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <div class="col-sm-offset-1  col-sm-10">
                                <span class="help-block" id="errors"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="memberId" />
            <input type="hidden" id="memberName" />
            <input type="hidden" id="detailsType" />
            <input type="hidden" id="dateFrom" />
            <input type="hidden" id="dateTo" />
        </section>

    </div>

    <script type="text/javascript">
        var setYearMonth = function () {
            var today = new Date();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (mm < 10) {
                mm = '0' + mm
            }

            var ym = yyyy + mm;
            $("#yearMonth").val(ym);
        }

        setYearMonth();

        $('#directorBonusModal').on('shown.bs.modal', function (e) {
            $('#directorBonusDetailsList').html('');
            $('#detailsTitle').html('');
            var target = e.relatedTarget;
            var memberId = $(target).attr('memberId');

            var detailsType = $(target).attr('detailsType');
            var directorCount = $(target).attr('directorCount');
            var bonusCount = $(target).attr('bonusCount');
            var year = $('#yearMonth').val().substr(0, 4);
            var month = $('#yearMonth').val().substr(4, 2);
            var dateFrom = new Date(parseInt(year), parseInt(month) - 1, 1);
            var dateFromStr = year + '-' + month + '-01'
            var dateTo = new Date(parseInt(year), parseInt(month), 0);
            var dateToStr = year + '-' + month + '-' + dateTo.getDate();

            $('#memberId').val(memberId);
            $('#detailsType').val(detailsType);
            $('#memberName').val($(target).attr('memberName'));
            var memberName = $(target).attr('memberName');

            var param = {
                detailsType: detailsType,
                memberId: memberId,
                dateFrom: dateFromStr,
                dateTo: dateToStr,
                yearMonth: $('#yearMonth').val()
            };
            var url = "@Url.Action("Details503020", "Member")";
            showMsg('正在查询分红订单，请稍后...');
            $.post(url, param, function (result) {

                closeMsg();

                $('#directorBonusDetailsList').html(result);
                var strDC = directorCount;
                if (parseInt(directorCount) >= 2) {
                    if (parseInt(directorCount) == 2) {
                        strDC = "双";
                    }
                }
                var detailsTitle = memberName + strDC + '董事' + $('#yearMonth').find('option:selected').text();
                if (detailsType == '51') {
                    detailsTitle += '本部门分红：' + $('#hdSum').val() + '套 × 30元 = ' + $('#hdSum').val() * 30 + ' 元';
                }
                else if (detailsType == '52') {
                    var sum = $('#hdSum').val() * 30 / $('#hdMemberCount').val() * parseInt(bonusCount);
                    sum = sum >> 0;
                    detailsTitle += '公司加权分红：' + $('#hdSum').val() + '套 × 30元 ÷ ' + $('#hdMemberCount').val() + '份董事 × ' + bonusCount + '份 = ' + sum + ' 元';
                }
                $('#detailsTitle').html(detailsTitle);
            }).fail(function (xhr, status, error) {
                closeMsg();
                $('#errors').html(xhr.responseJSON.message).removeClass('hide');
            });

        });

        // Adding popstate event listener to handle browser back button
        window.addEventListener("popstate", function (e) {
            $.ajax({
                url: location.href,
                success: function (result) {
                    $('#DirectorBonusList').html(result);
                }
            });
        });

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        function search() {

            var param = {
                mobileOrName: $('#mobileOrName').val(),
                yearMonth: $('#yearMonth').val()
            };
            var url = "@Url.Action("DirectorBonus", "Member")";
            showMsg('正在查询，请稍后...');
            $.post(url, param, function (result) {
                closeMsg();
                $('#DirectorBonusList').html(result);
            });
        }

        addLoadEvent(function () {


            $("#btnSearch").click(function () {
                search();
            });

            $("#SearchString").keypress(function (e) {
                if (e.keyCode == 13) {
                    search();
                }
            });

            var getPage = function () {
                var random = '&random=' + new Date().getTime();
                var search = '';
                var search1 = $('#mobileOrName').val();

                if (search1 != '')
                    search = '&mobileOrName=' + search1;

                var dateFrom = $('#dateFrom').val();
                if (dateFrom != '') {
                    search = search + '&dateFrom=' + dateFrom;
                }

                var dateTo = $('#dateTo').val();
                if (dateTo != '') {
                    search = search + '&dateTo=' + dateTo;
                }

                search += random;
                var url = $(this).attr('href') + search;
                showMsg('正在翻页，请稍后...');
                $.ajax({
                    url: url,
                    success: function (result) {
                        closeMsg();
                        $('#DirectorBonusList').html(result);
                    }
                });

                return false;
            };

            $('body').on('click', '#DirectorBonusList .pagination a', getPage);

            var getDirectorDetailsPage = function () {

                var memberId = $('#memberId').val();
                var detailsType = $('#detailsType').val();
                var year = $('#yearMonth').val().substr(0, 4);
                var month = $('#yearMonth').val().substr(4, 2);
                var dateFromStr = year + '-' + month + '-01'
                var dateTo = new Date(parseInt(year), parseInt(month), 0);
                var dateToStr = year + '-' + month + '-' + dateTo.getDate();

                var page = $(this).attr('href').split('?')[1].split('=')[1];

                var param = {
                    detailsType: detailsType,
                    memberId: memberId,
                    dateFrom: dateFromStr,
                    dateTo: dateToStr,
                    yearMonth: $('#yearMonth').val(),
                    page: page
                };
                var url = "@Url.Action("Details503020", "Member")";
                showMsg('正在翻页，请稍后...');
                $.post(url, param, function (result) {
                    closeMsg();
                    $('#directorBonusDetailsList').html(result);
                });

                return false;
            };

            $('body').on('click', '#directorBonusDetailsList .pagination a', getDirectorDetailsPage);

            $(".datepicker").datepicker({
                language: "zh-CN",
                autoclose: true,//选中之后自动隐藏日期选择框
                clearBtn: true,//清除按钮
                todayBtn: true,//今日按钮
                format: "yyyy-mm-dd"
            });

        });

    </script>
