@{
    ViewBag.Title = "小水滴代理系统";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@using PagedList;
@using XDropsWater.Model;
@using PagedList.Mvc;
@using System.Collections.Generic;
@model Tuple<IPagedList<MemberModel>, AddChildMemberModel>

<style type="text/css">
    .clear:after {
        display: block;
        clear: both;
        content: ".";
        visibility: hidden;
        height: 0;
    }

    .clear {
        zoom: "1";
    }
</style>

@Scripts.Render("~/Content/AdminLTE-2.3.6/plugins/datatables/jquery.dataTables.min.js")
@Scripts.Render("~/Content/AdminLTE-2.3.6/plugins/datatables/dataTables.bootstrap.min.js")
@Scripts.Render("~/Content/bootstrapvalidator/dist/js/bootstrapValidator.min.js")

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            添加代理
            <small>Version 1.0</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i>主页</a></li>
            <li class="active">添加代理</li>
        </ol>
    </section>

    <section class="content">
        <!-- /.row -->
        <div class="row">

            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input id="txtSearch" type="text" class="form-control" placeholder="电话号码或姓名">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="btnSearch">查询</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalChildMember" type="button" style="margin-left: 5px; border-radius: 2px; -moz-border-radius: 2px;">添加</button>
                                </span>
                            </div>

                            <!-- /input-group -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 table-responsive" id="ChildMemberList">
                                        @Html.Partial("ChildMemberList", Model.Item1)

                                    </div>
                                </div>

                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalChildMember" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalChildMemberLabel">添加下级代理</h4>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("AddDirectChildMember", "Member", FormMethod.Post, new Dictionary<string, object> { { "id", "frmAddChildMember" } }))
                        {
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Item2.ID)

                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Item2.Mobile, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Item2.Mobile,
                                        htmlAttributes: new Dictionary<string, object>
                                        {
                                            { "class", "form-control" },
                                            { "data-bv-message","手机号码无效" },
                                            { "required data-bv-notempty-message", "手机号码必填" },
                                            {"pattern","^1\\d{10}$" },
                                            {"data-bv-regexp-message","手机号码必须是以1开头的11位数字"}
                                        })
                                        @Html.ValidationMessageFor(model => model.Item2.Mobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Item2.MemberName, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Item2.MemberName, htmlAttributes: new Dictionary<string, object>
                                        {
                                            { "class", "form-control" },
                                            { "data-bv-message","姓名必填" },
                                            { "required data-bv-notempty-message", "姓名必填" },
                                        })
                                        @Html.ValidationMessageFor(model => model.Item2.MemberName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Item2.IdentityNo, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Item2.IdentityNo, htmlAttributes: new Dictionary<string, object>
                                        {
                                            { "class", "form-control" },
                                            { "data-bv-message","身份证号码必填" },
                                            { "required data-bv-notempty-message", "身份证号码必填" },

                                        })
                                        @Html.ValidationMessageFor(model => model.Item2.IdentityNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Item2.Address, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextAreaFor(model => model.Item2.Address, htmlAttributes: new Dictionary<string, object>
                                        {
                                            { "class", "form-control" },
                                            { "data-bv-message","地址必填" },
                                            { "required data-bv-notempty-message", "地址必填" },
                                        })
                                        @Html.ValidationMessageFor(model => model.Item2.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-md-12">
                                        <span id="note" style="color:red; font-weight:bold"></span>
                                    </div>
                                </div>
                               

                                <div class="form-group has-error">
                                    <div class="col-sm-offset-1  col-sm-10">
                                        <span class="help-block" id="errors"></span>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" id="btnAdd" class="btn btn-primary" onclick="$('#frmAddChildMember').submit()">保存</button>
                    </div>
                </div>
            </div>
        </div>

    </section>


</div>

<script type="text/javascript">
    // Adding popstate event listener to handle browser back button
    window.addEventListener("popstate", function (e) {
        $.ajax({
            url: location.href,
            success: function (result) {
                $('#ChildMemberList').html(result);
            }
        });
    });

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    function search() {

        var url = "@Url.Action("DirectChildMember","Member")";
        var search = $('#txtSearch').val();
        if (search != '')
        {
            search = "?mobileOrName=" + search;
        }
        showMsg('正在查询，请稍后...');
        $.post(url, { mobileOrName: $('#txtSearch').val() }, function (result) {
            closeMsg();
            $('#ChildMemberList').html(result);
        });
    }

    $('#modalChildMember').on('shown.bs.modal', function (event) {
        $('#modalChildMember').bootstrapValidator('resetForm', true);
        if ($(event.relatedTarget).attr('data-item')) {
            var item = $(event.relatedTarget).attr('data-item');
            var model = $.parseJSON(item);
            $('#Item2_ID').val(model.ID);
            $('#Item2_Mobile').val(model.Mobile);
            $('#Item2_MemberName').val(model.MemberName);
            $('#Item2_IdentityNo').val(model.IdentityNo);
            $('#Item2_Address').val(model.Address);
            $('#note').html('');
            $('#modalChildMemberLabel').html("修改下级代理资料");
        }
        else {
            $('#Item2_Mobile').val('');
            $('#Item2_MemberName').val('');
            $('#Item2_IdentityNo').val('');
            $('#Item2_Address').val('');
            $('#note').html('*注意*: 添加下级代理，您本人的库存将减掉一套');
            $('#modalChildMemberLabel').html("添加下级代理");
        }

    });

    addLoadEvent(function () {


        $("#btnSearch").click(function () {
            search();
        });

        $("#txtSearch").keypress(function (e) {
            if (e.keyCode == 13) {
                search();
            }
        });

        var getPage = function ()
        {
            var random = '&random=' + new Date().getTime();
            var search = $('#txtSearch').val();
            if (search != '') {
                search = "&mobileOrName=" + search;
            }
            search += random;
            var url = $(this).attr('href') + search;
            showMsg('正在翻页，请稍后...');
            $.ajax({
                url: url,
                success: function (result) {
                    closeMsg();
                    ChangeUrl('DirectChildMember', url);
                    $('#ChildMemberList').html(result);
                }
            });
        }

        $('body').on('click', '#ChildMemberList .pagination a', getPage);


        $('#frmAddChildMember').bootstrapValidator().on('success.form.bv', function (e) {
            // Prevent form submission
            e.preventDefault();
            $("#btnAdd").attr("disabled", "disabled");
            $form = $('#frmAddChildMember');
            //string mobile, string memberName, string parentMobile, string roleID, string address
            // Use Ajax to submit form data
            var oParam = {
                ID: $('#Item2_ID').val(),
                Mobile: $('#Item2_Mobile').val(),
                MemberName: $('#Item2_MemberName').val(),
                IdentityNo: $('#Item2_IdentityNo').val(),
                Address: $('#Item2_Address').val(),
            };
            if ($('#modalChildMemberLabel').html() == "添加下级代理") {
                showMsg('正在执行，请稍后...');
                $.post($form.attr('action'), oParam, function (result) {
                    closeMsg();
                    setTimeout(function () { location.reload(); }, 1000);
                }).fail(function (xhr, status, error) {
                    closeMsg();
                    $('#errors').html(xhr.responseJSON.message).removeClass('hide');
                    $("#btnAdd").removeAttr('disabled');
                });
            }
            else if ($('#modalChildMemberLabel').html() == "修改下级代理资料") {
                showMsg('正在执行，请稍后...');
                $.post('@Url.Action("UpdateMember", "Member")', oParam, function (result) {
                    setTimeout(function () {
                        closeMsg();
                        bootbox.alert({
                            message: "保存成功！", size: 'small', callback: function () {
                                setTimeout(function () { location.href = location.href; }, 1000);
                            }
                        });
                    }, 1000);

                }).fail(function (xhr, status, error) {
                    $('#errors').html(xhr.responseJSON.message).removeClass('hide');
                    $("#btnAdd").removeAttr('disabled');
                });
            }
        });

    });

</script>
