@{
    ViewBag.Title = "小水滴代理系统";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@using PagedList;
@using XDropsWater.Model;
@using PagedList.Mvc;
@model IPagedList<MemberModel>
<style type="text/css">
    .clear:after
    {
        display: block;
        clear: both;
        content: ".";
        visibility: hidden;
        height: 0;
    }

    .clear
    {
        zoom: "1";
    }
</style>
<script src="../../Content/AdminLTE-2.3.6/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../Content/AdminLTE-2.3.6/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="../../Scripts/jsrender.min.js"></script>

<section class="content">
    <!-- /.row -->
    <div class="row">

        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input id="txtSearch" type="text" class="form-control" placeholder="电话号码或姓名">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="search(1)">查询</button>
                            </span>
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button" style="margin-left: 5px; border-radius: 2px; -moz-border-radius: 2px;">添加</button>
                            </span>
                        </div>

                        <!-- /input-group -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>手机号码</th>
                                                <th>姓名</th>
                                                <th>级别</th>
                                                <th>上级手机号码</th>
                                                <th>上级姓名</th>
                                                <th>注册时间</th>
                                                <th>住址</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableBody">
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.Mobile</td>
                                                    <td>@item.MemberName</td>
                                                    <td>@item.CardLevelID</td>
                                                    <td>@item.ParentMemberMobile</td>
                                                    <td>@item.ParentName</td>
                                                    <td>@item.CreateOn</td>
                                                    <td>@item.Address</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div id="page" style="margin-left: 10px">
                                        第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页
                                共 @Model.PageCount 页

                                @Html.PagedListPager(Model, page => Url.Action("MemberManage", new { page }))
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/x-jsrender" id="myTemplate">
{{for Members}}
<tr>
    <td>{{:Mobile}}</td>
    <td>{{:MemberName}}</td>
    <td>{{:CardLevelID}}</td>
    <td>{{:ParentMemberMobile}}</td>
    <td>{{:ParentName}}</td>
    <td>{{:CreateOn}}</td>
    <td>{{:Address}}</td>
</tr>
{{/for}}
    @*Name:{{:name}}*@
</script>
<script type="text/x-jsrender" id="pagerTemplate">
    {{if HasPreviousPage}}
        <a href="#" onclick="search(1);return false;">&lt;&lt;</a>
        <a href="#" onclick="getPersonByAjax({{:PageNumber - 1}});return false;">&lt; Prev</a>
    {{else}}
        &lt;&lt;&nbsp;&lt; Prev
    {{/if}}
    &nbsp;
    {{if HasNextPage}}
        <a href="#" onclick="getPersonByAjax({{:PageNumber + 1}});return false;">Next &gt;</a>
        <a href="#" onclick="getPersonByAjax({{:PageCount}});return false;">&gt;&gt;</a>
    {{else}}
        Next &gt;&nbsp;&gt;&gt;
    {{/if}}
</script>
<script>
    function search(page) {
       
        $.post('/Member/GetMember', { search: $('#txtSearch').val(), page: page }, function (data) {
            //var html = $("#personListTemplate").render(data);
            //$('#tableBody').html(html);
            var tmpl = $.templates("#myTemplate");
            var html = tmpl.render(data);
            $('#tableBody').html(html)
        });
        
    }
</script>
